// Variables
@import './variables';

// Base styles
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-primary;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $body-bg;
}
